In [1]:
import chromadb
client = chromadb.Client()

In [2]:
collections = client.create_collection(name="First_collections")

In [24]:
collections.add(
    documents=["India is my country" , "This doc is about TN" , "this is about Thirunalveli in TN","this is doc is about USA"],
    ids=["id1","id2","id3","id4"]
    
)

Add of existing embedding ID: id1
Add of existing embedding ID: id2
Add of existing embedding ID: id3
Insert of existing embedding ID: id1
Insert of existing embedding ID: id2
Insert of existing embedding ID: id3

In [41]:
all_doc = collections.get()
all_doc

{'ids': ['id1', 'id2', 'id3', 'id4'],
 'embeddings': None,
 'metadatas': [None, None, None, None],
 'documents': ['India is my country',
  'This doc is about TN',
  'this is about Thirunalveli in TN',
  'this is doc is about USA'],
 'uris': None,
 'data': None,
 'included': ['metadatas', 'documents']}

In [26]:
document = collections.get(ids="id3")
document

{'ids': ['id3'],
 'embeddings': None,
 'metadatas': [None],
 'documents': ['this is about Thirunalveli in TN'],
 'uris': None,
 'data': None,
 'included': ['metadatas', 'documents']}

The Vector dataBase Plays a main role in below  3 cells . I have queried about the Rice so it has calculated the (euclidian distance)distances(similarities) between the query and the data in DB and finally returned  'this is about Thirunalveli in TN' this as 1st result and given result about india...

In [21]:
# Even the words are not exactly matching in the query but it does semantic search.

results = collections.query(
    query_texts=["query is about Rice"],
    n_results=2
)

results

{'ids': [['id3', 'id1']],
 'distances': [[1.4872139692306519, 1.5100599527359009]],
 'metadatas': [[None, None]],
 'embeddings': None,
 'documents': [['this is about Thirunalveli in TN', 'India is my country']],
 'uris': None,
 'data': None,
 'included': ['metadatas', 'documents', 'distances']}

In [34]:
# in the data it is mentioned as my country so it returns 'India is my country' as first as the query is related to me.

results = collections.query(
    query_texts=["query is about me"],
    n_results=2
)

results

{'ids': [['id1', 'id4']],
 'distances': [[1.386872410774231, 1.5238711833953857]],
 'metadatas': [[None, None]],
 'embeddings': None,
 'documents': [['India is my country', 'this is doc is about USA']],
 'uris': None,
 'data': None,
 'included': ['metadatas', 'documents', 'distances']}

In [35]:
results = collections.query(
    query_texts=["query is about Google"],
    n_results=2
)

results

{'ids': [['id4', 'id1']],
 'distances': [[1.5705968141555786, 1.6052618026733398]],
 'metadatas': [[None, None]],
 'embeddings': None,
 'documents': [['this is doc is about USA', 'India is my country']],
 'uris': None,
 'data': None,
 'included': ['metadatas', 'documents', 'distances']}

Deleting data

In [42]:
collections.delete(ids=all_doc['ids'])
collections.get()

{'ids': [],
 'embeddings': None,
 'metadatas': [],
 'documents': [],
 'uris': None,
 'data': None,
 'included': ['metadatas', 'documents']}

In [43]:
collections.add(
    documents=["India is my country" , "This doc is about TN" , "this is about Thirunalveli in TN","this is doc is about USA"],
    ids=["id1","id2","id3","id4"],
    metadatas=[
        {"url":"https://en.wikipedia.org/wiki/India"},
        {"url":"https://en.wikipedia.org/wiki/Tamil_Nadu"},
        {"url":"https://en.wikipedia.org/wiki/Tirunelveli"},
        {"url":"https://en.wikipedia.org/wiki/United_States"}
    ]
    
)

In [45]:
results = collections.query(
    query_texts=["query is about Rice plantation"],
    n_results=2
)

results

{'ids': [['id3', 'id4']],
 'distances': [[1.2878479957580566, 1.563598871231079]],
 'metadatas': [[{'url': 'https://en.wikipedia.org/wiki/Tirunelveli'},
   {'url': 'https://en.wikipedia.org/wiki/United_States'}]],
 'embeddings': None,
 'documents': [['this is about Thirunalveli in TN',
   'this is doc is about USA']],
 'uris': None,
 'data': None,
 'included': ['metadatas', 'documents', 'distances']}